/* 
---------------------------------------------------------------------------------------
HEADER
---------------------------------------------------------------------------------------
*/
.container-header {
    width: 100%;
    height: 7vh;
    display: grid; grid-template-columns: 20% 55% 25%;
    color: #F5F5F7; background-color: #9c1428;
    position: fixed;
    z-index: 999;
}

.header-grid-item-1 {
    padding: 12px 0;
    text-align: right;
} 
.header-grid-item-2 {
    padding: 26px 0 0 24px;
    text-align: center;
}
.header-grid-item-3 {
    padding: 26px 0 0 24px;
    text-align: left;
}

.header-title {
    font-size: 18px; 
    padding-right: 128px;
}
.header-title a {
    text-decoration: none;
    color: #F5F5F7;
    font-size: 30px; font-weight: 700;
}
   
.nav-bar ul li {
    list-style: none;
    display: inline;
    font-size: 16px;
    margin: 0px 0 0 20px;
}
.nav-bar ul li a {
    text-decoration: none;
    color: #F5F5F7;
    text-transform: uppercase;
}
.nav-bar ul li a:hover {
    text-decoration: none;
    color: #181818;
    text-transform: uppercase;
}
