/* 
=======================================================================================
---------------------------------------------------------------------------------------
MISC
---------------------------------------------------------------------------------------
=======================================================================================
*/
/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #F5F5F7;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #9c1428;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ff0000;
  }
  