/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #1c1c1d;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #a70000;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #f1f1f1;
  }