/* FONT */
@font-face { font-family: 'lato'; src: URL('/fonts/Lato-Regular.ttf') format('truetype'); }

/* GLOBAL */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'lato';
}

a {
    text-decoration: none;
    color: #f5f5f7;
}

/* BODY */
body {
    font-family: monospace;
    color: #f5f5f7;
    overflow: hidden;
    box-sizing: border-box;
    
}

/* 
HEADER =========================================================================================================>
*/

/* 
NAV ============================================================================================================>
*/
nav {
    box-shadow: 0 0 20px rgb(255, 0, 0);
    background: rgba(255, 0, 0, 0.55);
    border: #a00000 1px solid;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 999;

    .nav-logo {
        color: #f5f5f7;
        font-size: 30px;
        line-height: 60px;
        padding: 0 100px;
        font-weight: bold;
    }
}

nav ul {
    float: right;
    margin-right: 100px;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 1px;   
}

nav ul li a {
    color: #f5f5f7;
    font-size: 16px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

nav a:hover { 
    background: #ff002623;
    transition: .5s;
}

/* 
SECTION ========================================================================================================>
*/

/* FOR INDEX ONLY! */
section.index {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.7)), url(/img/background.jpg); 
    background-size: cover; 
    background-position: center;

    .content-header-1 {
        height: 95vh;
        display: grid;
        grid-template-columns: 60% 40%;

        .col-1 {
            padding: 450px 100px 100px 100px;

            #index-name {
                font-size: 128px;
            }

            #index-name span {
                color: #f51112;
            }
    
            #index-occupation {
                font-size: 32px;
                color: gray;
            }
    
            #index-description {
                font-size: 18px;
                text-align: justify;
                text-justify: auto;
            }
    
            #index-button {
                width: 175px;
                height: 50px;
                border-radius: 24px;
                border: #a00000 5px solid;
                background-color: #a000008f;
                color: #f5f5f7;
                font-weight: bold;
                font-size: 18px;
                margin-top: 32px;
            }
    
            #index-button:hover {
                scale: 1.25;
                transition: .5s ease;
                box-shadow: 0 0 25px #ff0000;
                background-color: #ff0000;
                border: #ff3535 5px solid;
            }
        }

        .col-2 {
            padding: 250px;
        }
    }

    .footer {
        color: #696969;
        text-align: center;
    }
}

section.general {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/img/background-1.jpg); 
    background-size: cover; 
    background-position: center;

    .content-head {
        height: 20vh;
        padding-top: 6vh;
        padding: 10vh 100px 0 100px;
        width: 1000px;

        #head-separation {
            width: 275px;
            height: 2px;
            background-color: #f51112;
            border: none;
            margin: 8px 0;
        }

        #head-title {
            color: #f5f5f7;
            font-size: 16px;
            font-weight: 100;
        }
        #head-title span {
            color: #f51112;
            font-size: 24px;
            font-weight: bold;
            padding: 10px 0;
        }

        #head-description {
            font-size: 16px;
            font-weight: 100;
        }
    }

    .content-content {
        height: 75vh;
        display: grid;
        grid-template-columns: 50% 50%;

        .col-1 {
            padding: 100px;
            scale: .75;
            transform: translate(15%, -20%);

            #profile-img {
                width: 100%;
                height: auto;
                margin: auto;
                border-radius: 100vh;
            }
            
            #profile-img:hover {
                scale: 1.15;
                transition: 1.5s ease;
            }

            #skills-progress-content {
                font-size: 32px;
                margin-bottom: 16px;
            }

            #knowledge-content-head {
                font-size: 20px;
                font-weight: 300;
                margin: 10px 0;
                color: #f51112;
            }

            #knowledge-content-provider {
                font-size: 32px;
                margin-bottom: 10px;
            }

            #knowledge-description {
                font-size: 18px;
                margin-bottom: 10px;
            }
        }

        .col-2 {
            width: 600px;
            transform: translate(0, 20%);

            #content-description {
                font-size: 20px;
                font-weight: 100;
            }

            #profile-content-separator {
                width: 350px;
                height: 5px;
                background-color: #f51112;
                border: none;
                margin: 18px 0;
            }

            #content-button {
                padding: 10px;
                width: 125px;
                background-color: #f51112;
                border: none;
                border-radius: 5px;
                color: #ffffff;
            }

            #content-button:hover {
                background-color: #ff0000; 
                font-weight: 900; 
                transition: ease .5s;
                scale: 1.5;
                box-shadow: 0 0 30px #ff0000;
                border: #a00000 5px solid;
            }
        }
    }

    .footer {
        color: #696969;
        text-align: center;
    }
}

section.blog {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.7)), url(/img/background.jpg); 
    background-size: cover; 
    background-position: center;

    .content-header-1 {
        height: 95vh;
        display: grid;
        grid-template-columns: 40% 60%;

        .col-1 {
            padding: 100px 200px;
        }

        .col-2 {
            width: 900px;
            transform: translate(0, 20%);

            #content-title {
                font-size: 64px;
                font-weight: bold;
                margin-bottom: 32px;
            }

            #content-description {
                font-size: 20px;
                font-weight: 100;
            }

            #profile-content-separator {
                width: 350px;
                height: 5px;
                background-color: #f51112;
                border: none;
                margin: 18px 0;
            }

            #content-button {
                padding: 10px;
                width: 125px;
                background-color: #f51112;
                border: none;
                border-radius: 5px;
                color: #ffffff;
            }

            #content-button:hover {
                background-color: #ff0000; 
                font-weight: 900; 
                transition: ease .5s;
                scale: 1.5;
                box-shadow: 0 0 30px #ff0000;
                border: #a00000 5px solid;
            }
        }
    }

    .footer {
        color: #696969;
        text-align: center;
    }
}

section.blog2{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.7)), url(/img/background-1.jpg); 
    background-size: cover; 
    background-position: center;

    .content-header-1 {
        height: 95vh;
        display: grid;
        grid-template-columns: 65% 35%;

        .col-1 {
            padding: 100px 200px;
        }

        .col-2 {
            width: 450px;
            transform: translate(0, 20%);

            #content-title {
                font-size: 64px;
                font-weight: bold;
                margin-bottom: 32px;
            }

            #content-description {
                font-size: 20px;
                font-weight: 100;
                text-align: justify;
                text-justify: auto;
            }

            #profile-content-separator {
                width: 350px;
                height: 5px;
                background-color: #f51112;
                border: none;
                margin: 18px 0;
            }

            #content-button {
                padding: 10px;
                width: 125px;
                background-color: #f51112;
                border: none;
                border-radius: 5px;
                color: #ffffff;
            }

            #content-button:hover {
                background-color: #ff0000; 
                font-weight: 900; 
                transition: ease .5s;
                scale: 1.5;
                box-shadow: 0 0 30px #ff0000;
                border: #a00000 5px solid;
            }
        }
    }

    .footer {
        color: #696969;
        text-align: center;
    }
}
/* 
FOOTER =========================================================================================================>
*/

footer {
    height: 5vh;
}

/* 
MISC ===========================================================================================================>
*/

/* PROGRESS BAR */
.col-1 progress { 
    margin-top: 8px;
    width: 100%; 
    margin-bottom: 20px; 
    height : 20px; 
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 15px #a00000;
}

progress::-webkit-progress-bar { 
    background-color: rgba(0, 128, 0, 0); 
}

progress::-webkit-progress-value { 
    background-color: #ff0000; 
    box-shadow: 0 0 10px #ff0000;
}

/* SLIDER */
.slider-container {
    width: 450px; /* Adjust the width as per your preference */
    overflow: hidden;
    background-color: #a00000;
    border-radius: 75px 10px 75px 10px;
    border: #a00000 5px solid;
  }
  
  .slider {
    display: flex;
    width: 450px;
    height: 750px;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider-item {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 175px 10px 175px 10px;
  }
  
  /* Additional styling for navigation buttons (optional) */
  .slider-button {
    margin: 0 25px;
    border-radius: 150px;
    cursor: pointer;
    padding: 5px;
    font-size: 12px;
    height: 35px;
    width: 35px;
    border: #a000004a 3px solid;
    background-color: #ff000000;
    color: #ffffff4a;
    scale: 2;
    margin: 50px 0px 20px 0 ;
  }

  .slider-button:hover {
    border: #a00000 3px solid;
    background-color: #ff000000;
    color: #ffffff;
    transition: .5s ease;
  }
  
  /* Styling for previous button */
  .slider-button.previous {
    
  }
  
  /* Styling for next button */
  .slider-button.next {
    float: right;
  }

/* SLIDER 2 */
.slider-container-2 {
    width: 935px; /* Adjust the width as per your preference */
    overflow: hidden;
    background-color: #a00000;
    border-radius: 75px 10px 75px 10px;
    border: #a00000 5px solid;
  }
  
  .slider-2 {
    display: flex;
    width: 935px;
    height: 750px;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider-item-2 {
    border-radius: 15px;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 175px 10px 175px 10px;
  }
  
  /* Styling for previous button */
  .slider-button.previous-2 {
  }
  
  /* Styling for next button */
  .slider-button.next-2 {
    float: right;
  }