/* 
---------------------------------------------------------------------------------------
general style
---------------------------------------------------------------------------------------
*/

/* FONT */
@font-face { font-family: 'lato'; src: URL('/fonts/Lato-Regular.ttf') format('truetype'); }

/* GLOBAL */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'lato';
}

/* BODY */
body {
    font-family: monospace;
    overflow: hidden;
    background-color: #f0f2f5;
    color: #f5f5f7;
    
}

/* NAVIGATION */
nav {
    box-shadow: 0 0 10px rgb(255, 0, 0);
    background: rgba(255, 0, 0, 0.55);
    border: #a00000 1px solid;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 999;
}

nav label.nav-logo {
    color: #f5f5f7;
    font-size: 30px;
    line-height: 60px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 100px;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 1px;   
}

nav ul li a {
    color: #f5f5f7;
    font-size: 16px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

nav a:hover { 
    background: #ff002623;
    transition: .5s;
}

/* CONTENT */
.content {
    padding: 0 100px; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.7)), url(/img/background-1.jpg); 
    background-size: cover; 
    background-position: center;
}

/* HEADER */
.header {
    padding-top: 9vh;
    height: 20vh;
    text-align: center;
    margin-bottom: 30px;
}

.header h1 {
    color: #f51112;
    font-size: 34px;
    font-weight: bold;
    padding: 10px 0;
}

.header p {
    font-size: 16px;
    font-weight: 100;
    padding: 10px 500px;
}

.header hr {
    width: 20%;
    height: 5px;
    background-color: #f51112;
    margin: auto;
    border: none;
}

/* FOOTER */
footer {
    height: 5vh;
}

.global-footer {
    color: #696969;
    line-height: 5vh;
    text-align: center;
}

/* 
---------------------------------------------------------------------------------------
index
---------------------------------------------------------------------------------------
*/
.index-content{ 
    display: grid; 
    grid-template-columns: 10% 80% 10%; 
    height: 95vh; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.653)), url(/img/background.jpg); 
    background-size: cover; 
    background-position: center;
}

.index-col-2 { 
    display: grid; 
    grid-template-rows: 35% 65%; 
    padding: 32px; 
    color: #c8c8c8; 
}

.index-col-2-2 h1 , h6 , p { 
    margin-bottom: 24px; 
}

.index-col-2-2 h6 {
    font-size: 21px;
    color: #3e3e3e;
}

.index-col-2-2 p {
    font-size: 21px;
}

.index-col-2-2 h1 { 
    font-size: 128px; 
}

.index-col-2-2 span { 
    font-weight: 900; 
    color: #f51112; 
}

.index-col-2-2 button { 
    font-size: 18px; 
    font-weight: 100; 
    width: 200px; 
    height: 60px; 
    padding: 8px; 
    background-color: #f5f5f700; 
    border: #a00000 5px solid; 
    border-radius: 32px; 
    color: #f5f5f7; 
}

.index-col-2-2 button:hover { 
    background: #ff0000;
    font-weight: 900; 
    transition: ease 0.5s; 
    scale: 1.2; 
    box-shadow: 0 0 30px #ff0000;
    border: #a00000 5px solid;
}

/* 
---------------------------------------------------------------------------------------
profile
---------------------------------------------------------------------------------------
*/

.content-profile {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
}

.content-profile-1,.content-profile-2,.content-profile-3,.content-profile-4 {
    font-size: 18px;
    height: 72vh;
    margin-top: 0;
}

.content-profile-2 img{
    object-fit: cover; 
    width: 100%; 
    height: auto;
    border-radius: 10000px;
    padding: 125px;
}

.content-profile-3 {
    margin: auto;
    width: 100%;
    height: auto;
    padding: 50px;
}

.content-profile-3 hr {
    width: 30%;
    height: 10px;
    background-color: #f51112;
    border: none;
    float: left;
}
.content-profile-3 button {
    padding: 10px;
    margin: 50px -172px;
    width: 125px;
    background-color: #f51112;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    float: left;
}

.content-profile-3 button:hover {
    background-color: #ff0000; 
    font-weight: 900; 
    transition: ease .5s;
    scale: 1.5;
    border: #a00000 5px solid;
    box-shadow: 0 0 30px #ff0000; 
}

/* 
---------------------------------------------------------------------------------------
skills
---------------------------------------------------------------------------------------
*/
.content-skills {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
}

.content-skills-1,.content-skills-2,.content-skills-3 {
    font-size: 18px;
    height: 72vh;
}
.content-skills-2 {
    padding: 135px 100px;
}

.content-skills-3 {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 50px;
}

.content-skills-2 h1 {
    font-size: 21px;
    text-align: center;
    margin-bottom: 10px;
}

.content-skills-3 hr {
    width: 30%;
    height: 10px;
    background-color: #f51112;
    border: none;
    float: left;
}

/* PROGRESS BAR */
.content-skills-2 progress { 
    margin-top: 0;
    width: 100%; 
    margin-bottom: 20px; 
    height : 20px; 
    border: 1px solid rgb(0, 0, 0); 
}

progress::-webkit-progress-bar { 
    background-color: rgba(0, 128, 0, 0); 
}

progress::-webkit-progress-value { 
    background-color: #ff0000; 
    box-shadow: 0 0 10px #ff0000;
}

.content-skills-3 button {
    padding: 10px;
    margin: 75px -172px;
    width: 125px;
    background-color: #f51112;
    border: none;
    border-radius: 5px;
    color: #ffffff;
}

.content-skills-3 button:hover {
    background-color: #ff0000; 
    font-weight: 900; 
    transition: ease .5s;
    scale: 1.5;
    box-shadow: 0 0 30px #ff0000;
    border: #a00000 5px solid;
    
}

/* 
---------------------------------------------------------------------------------------
education
---------------------------------------------------------------------------------------
*/
.content-education {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
}

.content-education-1,.content-education-2,.content-education-3 {
    font-size: 18px;
    height: 72vh;
}
.content-education-2 {
    width: 100%;
    height: auto;
    margin-top: 70px;
}

.content-education-3 {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 50px;
}

.content-education-2 h1 {
    font-size: 18px;
    font-weight: 300;
    margin: 10px 0;
    color: #f51112;
    text-align: center;
}

.content-education-2 h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.content-education-2 p {
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center;
}

.content-education-2 hr {
    width: 75%;
    margin: auto;
}

.content-education-3 hr {
    width: 30%;
    height: 10px;
    background-color: #f51112;
    border: none;
    float: left;
}

.content-education-3 button {
    padding: 10px;
    margin: 75px -172px;
    width: 125px;
    background-color: #f51112;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    float: left;
}

.content-education-3 button:hover {
    background-color: #ff0000; 
    font-weight: 900; 
    transition: ease .5s;
    scale: 1.5;
    box-shadow: 0 0 30px #ff0000;
    border: #a00000 5px solid;
    
}

/* 
---------------------------------------------------------------------------------------
experience
---------------------------------------------------------------------------------------
*/
.content-experience {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
}

.content-experience-1,.content-experience-2,.content-experience-3 {
    font-size: 18px;
    height: 72vh;
}
.content-experience-2 {
    width: 100%;
    height: auto;
    margin-top: 80px;
}

.content-experience-3 {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 50px;
}

.content-experience-2 h1 {
    font-size: 18px;
    font-weight: 300;
    margin: 10px 0;
    color: #f51112;
    text-align: center;
}

.content-experience-2 h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.content-experience-2 p {
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center;
}

.content-experience-2 hr {
    width: 75%;
    margin: auto;
}

.content-experience-3 hr {
    width: 30%;
    height: 10px;
    background-color: #f51112;
    border: none;
    float: left;
}

.content-experience-3 button {
    padding: 10px;
    margin: 75px -172px;
    width: 125px;
    background-color: #f51112;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    float: left;
}

.content-experience-3 button:hover {
    background-color: #ff0000; 
    font-weight: 900; 
    transition: ease .5s;
    scale: 1.5;
    box-shadow: 0 0 30px #ff0000;
    border: #a00000 5px solid;
    
}