@font-face { font-family: 'lato'; src: URL('/fonts/Lato-Regular.ttf') format('truetype'); }

* { font-family: 'lato'; margin: 0; padding: 0 }
p { font-size: 16px; font-weight: 100; }
h6 { font-size: 20px; font-weight: 300; }
h1 { font-size: 24px; font-weight: 500; }

/* 
---------------------------------------------------------------------------------------
INDEX
---------------------------------------------------------------------------------------
*/
/* INDEX 1 */
.index-content{ display: grid; grid-template-columns: 10% 80% 10%; height: 100vh; background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/background.jpg); background-size: cover; background-position: center; }
.index-col-2 { display: grid; grid-template-rows: 35% 65%; padding: 32px; color: #c8c8c8; }
.index-col-2-2 h1 , h6 , p { margin-bottom: 20px; }
.index-col-2-2 h6 { color: #3e3e3e; }
.index-col-2-2 h1 { font-size: 128px; }
.index-col-2-2 span { font-weight: 900; color: #9c1428; }
.index-col-2-2 button { font-size: 18px; font-weight: 100; width: 200px; height: 60px; padding: 8px; background-color: #f5f5f700; border: #9c1428 5px solid; border-radius: 32px; color: #f5f5f7; }
.index-col-2-2 button:hover { background-color: #9c1428; font-weight: 900; transition: ease 0.5s; scale: 1.2;}
/* HIRE ME */
.hire-me { color: #f5f5f7; background-color: #c60000; border: none; }
.hire-me:hover { background-color: #9c1428; border: #df0000 solid 2px; }
/* RESUME */
.resume { color: #000000; background-color: #ffffff00; border: #000000 solid 2px; }
.resume:hover { background-color: #181818; color: #f5f5f7; border: none; }
/* INDEX CONTAINER 2 */
.index-container-2-1 { display: grid; grid-template-columns: 16% 70% 14%; height: 5.9vh; background-color: #181818; }
.index-grid-item-2-1-2 { margin-top: 16px; text-align: right; }
.index-grid-item-2-1-2 { display: grid; grid-template-columns: 50% 50%; color: #c8c8c8; }
.index-grid-item-2-1-2 p { text-align: left;}
#blogbutt {display: inline-flex; width: 150px; margin: 0 20px 0 0 ;}
/* FOOT NAVBAR */
.foot-nav-bar ul li { list-style: none; display: inline; font-size: 16px; margin: 0px 20px 0 0px;  }
.foot-nav-bar ul li a { text-decoration: none; color: #c8c8c8; text-transform: uppercase; }
.foot-nav-bar ul li a:hover { text-decoration: none; color: #181818; text-transform: uppercase; }
/* 
---------------------------------------------------------------------------------------
LAYOUT
---------------------------------------------------------------------------------------
*/
/* BLANK PAGE */
.blank-page { display: grid; grid-template-columns: 10% 80% 10%; height: auto; background-color: #f0f2f5; }
/* LAYOUT */
.layout-col-2 { display: grid; grid-template-columns: 15% 85%; height: auto; margin-top: 7vh;}
.layout-col-2 h1 { color: #ffffff; padding: 16px 24px 8px 0px; }
.layout-col-2 h2 { font-size: 24px; font-weight: 100; color: #2525257b; padding: 30px 0 8px 0; }
.layout-col-2 p { color: #000000; padding: 16px 24px 8px 0px; }
/* SIDE */
.side { padding: 20px; border-right: #00000026 1px solid; text-align: left; }
.side hr { margin: 16px 0; }
.side p { color: #2525257d; }
/* CONTENT */
.content { padding: 0 100px; }
.content hr { border-color: #0000002c; width: 100%; margin: 16px auto; }
.content a { text-decoration: none; color: #9c1428; }
/* MEDIA NAVBAR */
.media-nav-bar h3 { color: #9c1428; } 
.media-nav-bar ul li { list-style: none; font-size: 18px; font-weight: 100; color: #181818; margin: 16px 0px; }
.media-nav-bar ul li a { text-decoration: none; color: #000000; }
.media-nav-bar ul li a:hover { text-decoration: none; color: #9c1428; text-transform: uppercase; }

/* 
---------------------------------------------------------------------------------------
IMAGES
---------------------------------------------------------------------------------------
*/
/* SINGLE FEED CONTENT */
.content-group-img { scroll-snap-align: center; width: 1000px;background-color: #f0f2f5; padding: 5px;}
.content-group-img img { object-fit: cover; width: 1000px; height: 650px; border-radius: 16px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.133); }
.content-solo-img { scroll-snap-align: center; width: 200px;background-color: #f0f2f5; padding: 5px;}
.content-solo-img img { object-fit: cover; width: 200px; height: 400px; border-radius: 16px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.133); }
.single-feed-content:hover { background-color: #9c1428; }
.single-feed-content:hover { background-color: #9c1428; }
/* IMG SOLO */
.img-solo { display: flex; flex-wrap: nowrap; margin-top: 5px; position: relative; width: 100%; height:425px; color: #003464; border: 1px solid #D2E6F0; border-radius: 5px; -moz-border-radius: 3px; -webkit-border-radius: 3px; padding-left: 10px; overflow-x: auto; scroll-snap-type: x mandatory;}
/* IMG GROUP */
.img-group { display: flex; flex-wrap: nowrap; margin-top: 5px; position: relative; width: 100%; height:675px; color: #003464; border: 1px solid #D2E6F0; border-radius: 5px; -moz-border-radius: 3px; -webkit-border-radius: 3px; padding-left: 10px; overflow-x: auto; scroll-snap-type: x mandatory; }
.content p { color: #3e3e3e; font-size: 16px; margin: 0 20px; text-align: justify; text-justify: auto; }
/* 
---------------------------------------------------------------------------------------
home
---------------------------------------------------------------------------------------
*/
.feed img { object-fit: cover; width: 100%; height: 400px; border-radius: 16px; }
.home-feed h1 { color: #9c1428; font-size: 40px; }
.home-feed { display: grid; grid-template-columns: 70% 30%; }
.home-feed-1{ margin: 0 35px; }
.home-feed-2{ margin: 0 35px; }
.feed { width: 100%; background-color: #ffffff; padding: 20px; border-radius: 10px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.133); }
/* 
---------------------------------------------------------------------------------------
profile
---------------------------------------------------------------------------------------
*/
.pfp-info { display: grid; grid-template-columns: 60% 40%; }
.pfp-info-tb-1 th, td { border: #000000 1px solid; color: #000000; text-align: left; height: 30px; padding: 10px; }
.pfp-info-tb-1 th { color: #9c1428; text-align: right; }
.pfp-info-tb-1 h2 { font-size: 24px; color: #2525257b; padding: 10px 0; }
.pfp-info-tb-1 { width: 100%; margin: 20px 0; border-radius: 5px; border: #000000 1px solid; }
.pfp-info-2 img { object-fit: cover; width: 100%; height: 438px; border-radius: 50px; padding: 20px 0; }
.pfp-info h1{ color: #9c1428;}
.pfp-info-2{ margin: 0 35px; }
.pfp-info-2 p{ text-align: justify; text-justify: auto; margin: 16px 0; }
/* PROGRESS BAR */
.pfp-info progress { width: 100%; margin-bottom: 8px; height : 10px; border: 1px solid rgb(0, 0, 0); }
progress::-webkit-progress-bar { background-color: rgba(0, 128, 0, 0); }
progress::-webkit-progress-value { background-color: #a00112; }
.pfp-info button { font-size: 18px; font-weight: 100; width: 200px; height: 60px; padding: 8px; margin-right: 8px; }
/* 
---------------------------------------------------------------------------------------
contact
---------------------------------------------------------------------------------------
*/
.contact-feed { width: 95%; background-color: #ffffff; border-radius: 16px; padding: 20px 16px; margin: 20px 0; box-shadow: 0 0 5px rgba(0, 0, 0, 0.133); }
.single-feed-content img { object-fit: cover; width: 100%; height: 400px; border-radius: 16px; }
.single-feed-content:hover { background-color: #9c1428; }
.contact-details { display: grid; grid-template-columns: 70% 30%; }
.contact-details-tb-1 th, td { border: #000000 1px solid; color: #000000; text-align: left; height: 30px; padding: 10px;   }
.contact-details-tb-1 th { color: #9c1428; text-align: right; }
.contact-details-tb-1 h2 { font-size: 24px; color: #2525257b; padding: 10px 0; }
.contact-details-tb-1 { width: 100%; margin: 20px 0; border-radius: 5px; border: #000000 1px solid; }
.contact-feed img { width: 100%; height: auto; }
.contact-details h1{ color: #9c1428; }
.contact-details-2{ margin: 0 35px; }
